<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Info-ETSoftware-Screen</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/css/main.css" />
    <link rel="stylesheet" href="style/scss/main.css" />
    <link rel="stylesheet" href="style/scss/main.scss" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

</head>

<body>

    <div class="container">
        <div class="content " id="content1">
            <video src="video/vid.mp4" muted loop autoplay></video>


            <object style="position: absolute; height: 100%; width: 100% ;top: 0;
          left: 0;" type="image/svg+xml" data="img/logoswel.svg">
          Your browser does not support SVG
        </object></div>
        <div class="content" id="content2"> <iframe src="https://www.facebook.com/5dplan" height="100%" width="100%" style="position: absolute; top: 0; left: 0;"></iframe></div>
        <div class="content" id="content3"><iframe src="https://www.linkedin.com/company/et-ing/?viewAsMember=true" height="100%" width="100%" style="position: absolute; top: 0; left: 0;"></iframe></div>




        <div class="content active" id="content4">
            <div id="team_cont">
                <h1>Das Team</h1>
                <p>Wir bieten Projekt-Knowhow mit echter Handschlagqualität –<br> mit erfahrenen Mitarbeitern aus der Elektrotechnik und der IT</p>
            </div>
            <section class="swiper mySwiper">

                <div class="swiper-wrapper">

                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/udo_t.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Ing. Udo Jester</span>
                            <span class="card__name">Geschäftsführer</span>
                            <p class="card__text"></p>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/miriam_t.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Miriam Jester</span>
                            <span class="card__name">Administration, Buchhaltung, Marketing</span>
                            <p class="card__text"></p>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/lukas_t.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Ing. Lukas Postel</span>
                            <span class="card__name">Technischer Leiter / Teamleiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/martin_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title">Martin Lackner</span>
                            <span class="card__name">IT-Techniker / Front-end Dev.</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/manuel_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Manuel Steinwender</span>
                            <span class="card__name">Technische Konstruktion/BIM Koordinator</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/wolfgang_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Wolfgang Leditznig</span>
                            <span class="card__name">Projektleiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/michi_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Michael Wallner</span>
                            <span class="card__name">Projektbearbeiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/maia_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Marijana Krajišnik</span>
                            <span class="card__name">Projektbearbeiterin</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/hermann_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Hermann Possegger</span>
                            <span class="card__name">Projektbearbeiter, Grafiker</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                </div>
            </section>

            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    autoplay: {
                        delay: 9000, // delay between slides in milliseconds
                        disableOnInteraction: false, // allows user interaction to interrupt autoplay
                    },
                    loop: true, // enables infinite loop
                    effect: "coverflow",
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: "auto",
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 0,
                        depth: 300,
                        modifier: 1,
                        slideShadows: false,
                    },
                    pagination: {
                        el: ".swiper-pagination",
                    },
                });
                // Listen for full screen events
                document.addEventListener("fullscreenchange", function() {
                    if (document.fullscreenElement) {
                        // We entered full screen mode, update Swiper
                        mySwiper.resize();
                    } else {
                        // We exited full screen mode, update Swiper
                        mySwiper.resize();
                    }
                });
            </script>




        </div>
        <div class="content" id="content5">Victron</div>
    </div>






    <!-- Initialize Swiper -->
    <script>
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tiecicle.js"></script>
</body>

</html>