/* ------------ GOOGLE FONTS ------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@font-face {
    font-family: 'Blaster';
    src: url('/fonts/blaster-font/Blaster-wow6.ttf');
}

@font-face {
    font-family: 'Neuropol';
    src: url('/fonts/neuropol/neuropol.otf');
}

:root {
    /* FONT */
    --font: 'Poppins', sans-serif;
    /* COLORS */
    --color: #9176FF;
    --bg-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    display: none;
    padding: 20px;
    background-color: #ddd;
}

.content.active {
    display: block;
}

#content4 {
    display: flex;
    color: #001F3F;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgb(171, 184, 197);
    background: linear-gradient(103deg, rgba(171, 184, 197, 1) 0%, rgba(105, 118, 133, 1) 64%);
    flex-direction: column;
}


/* ----------- slider text ------------ */

#team_cont {
    text-align: center;
    width: 100%;
}

#team_cont h1 {
    font-family: 'Blaster';
    font-size: 6.5em;
    font-weight: 100;
    text-align: center;
    padding: 2%;
}

#team_cont p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 1%;
}


/* ----------- SLIDER ------------ */

.swiper {
    width: 100% !important;
}

.swiper-wrapper {
    width: 100% !important;
    height: 35em !important;
    display: flex !important;
    align-items: center !important;
}

.card {
    width: 20em !important;
    height: 90% !important;
    padding: 2em 1em !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    margin: 0 2em !important;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px) !important;
    transform: scale(0.3);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.card__image {
    width: 20em;
    height: 20em;
    padding: 3px;
    filter: drop-shadow(9px 9px 19px #00000056);
    margin-bottom: 1em;
}

.card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__content {
    display: flex !important;
    align-items: center !important;
    flex-direction: column;
}

.card__title {
    font-size: 1.4rem;
    font-family: 'Neuropol';
    font-weight: 800;
    padding: 8px;
    position: relative;
    top: .2em;
}

.card__name {
    color: #d54113;
    margin-top: 10px;
    text-align: center;
}

.card__text {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
}